@page "/"
@using BlazorShop.Services;
@using BlazorShop.Data;
@inherits OwningComponentBase<ProductService>

    <div class="row">
        @foreach(var product in listProduct)
        {
            <BlazorShop.Pages.Components.IndividualProductComponent product="product"></BlazorShop.Pages.Components.IndividualProductComponent>
        }
    </div>

@code{
    List<Product> listProduct = new List<Product>();

    protected override void OnInitialized()
    {
        listProduct = Service.GetProducts();
    }
}
